html,
body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}
@keyframes move {
  0% {
    transform: translateZ(0);
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  10% {
    transform: translate3d(0, 5px, 0);
    filter: alpha(opacity=100);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    transform: translate3d(0, 30px, 0);
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
.navbar {
  background-color: #008647;
  color: white;
}
.navbar .navbar-brand {
  font-weight: 800;
}
.block-title {
  color: white;
}
.icard img {
  width: 200px;
}
.centered {
  text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.main {
  background-image: url(../images/bg-main.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
}
.main .main-logo {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 25%;
}
.main .main-next {
  margin-top: 5%;
}
.main .main-info ul {
  display: flex;
  margin-left: -40px;
  list-style-type: none;
}
.main .main-info ul li img {
  width: 40px;
  margin-right: 15px;
  opacity: 0.5;
  transition: all 0.4s ease-in-out 0s;
}
.main .main-info ul li img:hover {
  transform: scale(1.2);
  opacity: 1;
}
.main .fa {
  margin-top: 2%;
  font-size: 25px;
  color: white;
  display: inline-block;
  transform-style: preserve-3d;
  animation-name: move;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.stroke {
  font-size: 35px;
  font-weight: 700;
  text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0;
}
.items-title {
  position: relative;
  height: 120px;
  background-image: linear-gradient(#00912c, #008647);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(70%));
}
.items {
  background-color: white;
}
.items .icard {
  padding-top: 15px;
  border: 1px solid #00864738;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 40px;
}
.items .icard img {
  width: 100%;
  padding: 15px;
}
.items .by-it {
  font-weight: 500;
  color: black;
  padding: 10px 25px;
  border: 1px solid black;
  background: #00864747;
  box-shadow: 0 0 30px rgba(16, 14, 23, 0.25);
}
.items .by-it:hover {
  color: #008647;
  border: 1px solid #008647;
  text-decoration: none;
}
.items .goto-card a {
  color: white;
  padding: 10px 25px;
  border: 1px solid black;
  background: black;
}
.items .goto-card a:hover {
  color: #008647;
  text-decoration: none;
}
.history-title {
  position: relative;
  height: 120px;
  background-image: linear-gradient(#00912c, #008647);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(70%));
}
.history img {
  width: 100%;
}
.history .history-info a {
  color: black;
  font-weight: 500;
}
.history .history-info a:hover {
  color: #008647;
  text-decoration: none;
}
.partners-title {
  position: relative;
  height: 120px;
  background-image: linear-gradient(#00912c, #008647);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(70%));
}
.partners .partner-card a {
  color: black;
  font-size: 15px;
}
.partners .partner-card a:hover {
  color: #008647;
  text-decoration: none;
}
.partners .partner-card .pcard {
  padding-top: 15px;
  border: 1px solid #00864738;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 15px;
}
.partners .partner-card .pcard img {
  width: 100%;
  padding: 15px;
}
.partners .partner-card .pcard h4 {
  color: #008647;
}
.partners .goto-partners a {
  color: white;
  padding: 10px 25px;
  border: 1px solid black;
  background: black;
}
.partners .goto-partners a:hover {
  color: #008647;
  text-decoration: none;
}
.gallery-title {
  position: relative;
  height: 120px;
  background-image: linear-gradient(#00912c, #008647);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(70%));
}
.img-gallery img {
  width: 100%;
}
.testimonials-title {
  position: relative;
  height: 120px;
  background-image: linear-gradient(#00912c, #008647);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(70%));
}
.testimonials img {
  width: 250px;
  padding: 15px 0;
}
.footer {
  background-color: #008647;
}
.footer .footer-logo img {
  width: 70%;
}
.footer .footer-contacts {
  line-height: 10px;
  color: white;
}
.footer .footer-contacts h5 {
  border-bottom: 1px solid white;
}
.footer .footer-contacts p {
  font-size: 14px;
}
.footer .footer-contacts ul {
  display: flex;
  margin-left: -40px;
  list-style-type: none;
}
.footer .footer-contacts ul li img {
  width: 20px;
  margin-right: 15px;
  opacity: 0.5;
  transition: all 0.4s ease-in-out 0s;
}
.footer .footer-contacts ul li img:hover {
  transform: scale(1.2);
  opacity: 1;
}
